<main class="container-body">
    <div class="top">
        <div class="search">
            <i class="fas fa-search"></i>
            <form>
            <input type="text" placeholder="{{ staticContent.searchBar }}" >
            </form>
        </div>
        <div class="region-list" (click)="regionToggle()">
            {{ staticContent.filter }}<i class="fas fa-chevron-down arrow-down"></i>
            <div class="regions" *ngIf="showRegions" (click)="regionSelect($event)">
                <div>All</div>
                <div>Africa</div>
                <div>Americas</div>
                <div>Asia</div>
                <div>Europe</div>
                <div>Oceania</div>
            </div>
        </div>
    </div>

    <div class="countries" *ngFor="let countryModel of countryList; let i=index">
        <div class="country">
            <div class="image">
                 <img src={{countryModel.country.image}} alt="country-image">
            </div>
            <div class="content">
                 <div class="name" (click)="regionSelect($event)">{{countryModel.country.name}}</div>
                <div class="population">Population : <span>{{numberWithCommas(countryModel.country.population)}}</span></div>
                <div class="region">Region : <span>{{countryModel.country.region}}</span></div>
                <div class="capital">Capital : <span>{{countryModel.country.capital}}</span></div>
            </div>
        </div>
    </div>
</main>