<main class="container-body">
    <div class="top">
        <div class="search">
            <i class="fas fa-search"></i>
            <form>
            <input type="text" placeholder="{{ staticContent.searchBar }}" >
            </form>
        </div>
        <div class="region-list">
            {{ staticContent.filter }}<i class="fas fa-chevron-down arrow-down"></i>
            <div class="regions">
                <div>All</div>
                <div>Africa</div>
                <div>Americas</div>
                <div>Asia</div>
                <div>Europe</div>
                <div>Oceania</div>
            </div>
        </div>
    </div>

    <div class="countries"></div>
</main>